<h2>Lists</h2>
<hr/>

<form action="/api/v1/lists/" method="post" class="form-inline" id="list-form" role="form">
  <div class="form-group">
    <input type="text" class="form-control" name="name" placeholder="Enter list name">
  </div>
  <button type="submit" class="btn btn-success">Add List</button>
</form>

<ul class="lists">
  {{#each lists}}
    <li class="{{class}}">
      <a href="#/lists/{{id}}" class="list" data-id="{{id}}">{{name}}</a>
      <a href="#/lists/{{id}}/delete" class="delete pull-right" data-id="{{id}}">✖</a>
    </li>
  {{/each}}
</ul>